* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    color: #2A3D66;
    background-color: #92ad70;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #37474F;
    margin-right: 15px;
    font-weight: bold;
}

th {
    padding: 12px 0;
    background-color: #4A90E2;
    color: white;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

