<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zixuan Zhou">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Zixuan Zhou professional website">
    <title>Zixuan Zhou</title>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer src="../static/script.js"></script>
    
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Zixuan Zhou</h1>
        <nav>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="fun.html">play</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>

    <div class="mainLayout">
        <div class="item1">
            <h2>Things I love to do for fun</h2>
            <!-- <button id="SeeMoreBTN" onclick="showList()">Click to see...</button> -->
            <ul id="FavList">
                <li>Playing Pipa</li>
                <li>Taking my cat for a walk</li>
                <li>Making lattes with my espresso machine</li>
                <li>Trying out new recipes and cooking</li>
                <li>Going to the gym</li>
            </ul>
        </div>

        <div class="item2">
            <img src="../static/my_fun_image.jpg" alt="Fun Activity" class="funIMG">
        </div>

        <div class="item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ifbrD14jWQ0?si=HNfTJwUgHwFMA_Wp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText" >Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>    
    </div>


    <footer>        
        <p id="copyYear">designed 🎨 and coded 👩🏻‍💻 by Zixuan Zhou &copy; </p>
    </footer>
</body>
</html>