<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <meta name="author" content="Zixuan Zhou">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Zixuan Zhou professional website">
    <title>Zixuan Zhou - Fun</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 15px;
        }
        nav ul li {
            display: inline;
        }
    </style>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <h1 id="webname">Zixuan Zhou</h1>
        <nav>
            <ul>
                <li><a href="../index.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="fun.html">Fun</a></li>
                <li><a href="cv.html">Resume</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main">
        <h2>Things I Love to Do for Fun</h2>
        <ul>
            <li>Playing Pipa</li>
            <li>Taking my cat for a walk</li>
            <li>Making lattes with my espresso machine</li>
            <li>Trying out new recipes and cooking</li>
            <li>Going to the gym</li>
        </ul>
    </div>
    
    <footer>
        <p>&copy; 2025 Zixuan Zhou. All rights reserved.</p>
    </footer>
</body>
</html>
