* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

header {
    color: white;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    color:#92ad70;
}

th {
    padding: 12px;
    background-color: darkgray;
    color: white;
    width: fit-content;
 }
 
 table tr:nth-child(even) {
    background-color: lightgray;
 }
 
form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

/*  #FavList { */
    /* display: none;*/
/* }*/

 #SeeMoreBTN{
    background-color: lightgrey;
    border: 0px;
    border-radius: 16px;
    font-size:large;
 }

 #shortIntro {
    display: block;
 }
 
 #readLess, #longIntro {
    display: none;
 }
 
 #readLess, #readMore {
    font-style: italic;
    background-color: lightgrey;
 }
 
 #ValidateMsg {
    width: max-content;
    margin: auto;
 }

.funIMG {
    border-radius: 100%;
    width: 20%;
}

.container {
    display: inline-block; /* Makes the container only as wide as its content */
    border-radius: 10%; /* Rounds the corners of the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
}

.container button {
    padding: 10px 15px; /* Adds space inside the button for better readability */
    border: none; /* Removes the default border */
    background-color: #92ad70; /* Sets a greenish background color */
    color: white; /* Makes the button text white */
    font-size: 16px; /* Increases the font size for better visibility */
    border-radius: 5px; /* Slightly rounds the corners of the button */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

.container button:hover {
    background-color: darkgrey; /* Changes the background color when hovered */
}

.mainLayout {
    display: flex; /* Enables Flexbox layout for the container */
    flex-wrap: wrap; /* Allows child elements to wrap onto new lines */
    flex-direction: row; /* Aligns child elements in a horizontal row */
    
}

.item1, .item2 {
    flex: 1;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
